@model IEnumerable<Kursach_Web_Dyachkov.Models.CategoryViewModel>

@{
    ViewBag.Title = "Категории";
}

<h2>Категории</h2>

<p>
    @Html.ActionLink("Создать новое", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.Label("Имя")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
    </td>
    <td>
        @Html.ActionLink("Удалить", "Delete", new { id = item.Id }) |
    </td>
</tr>
    }

</table>

